.container {
  position: fixed;
  bottom: 24px;
  left: 24px;
  right: 0;
  z-index: 99999999999;
  background-color: white;
  padding: 8px;
  display: flex;

  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.container[data-state="active"] {
  background-color: red;
}

.toolbar {
  position: absolute;
  right: -8px;
  color: black;
  transform: translate(100%, -50%);
  background-color: white;
  white-space: nowrap;
  padding: 4px;
  border-radius: 4px;
  top: 50%;
}
